.a{
    text-align:  center;
   
        background-color: chartreuse;
        border-radius: 20%;
        display: block;
        height: 100px;
        width: 100px;
       /* margin-top: 23%;
        margin-bottom: 45%; */
    
       
}
.b
{
    background-color:burlywood;
    border-radius: 10%;
    display: block;
    height: 100px;
    width: 100px;
    animation-name: spo;
    animation-duration: 7s;
   position: relative;

}
@keyframes spo{
    0%{
     
        background-color: rgb(178, 216, 73);
    }
    50%{
        top: 120%;
        left: 33%;
        background-color: rgb(56, 223, 56);
    }
    90%{
        font-size: 34%;
        top: 50%;
        left: 33%;
        background-color: rgb(0, 61, 61);
        
    
        
    }
    100%{
        bottom: 67%;
        right: 23%;
        background-color: rgb(222, 140, 18);
    }
    
    }
    .c{

    background-color: red;
      display: inline-block;
    height: 123px;
    width: 134px;
    animation-name: sp;
    animation-duration: 7s;
    position: relative;
    }
    @keyframes sp{
        0%{
            top: 0%;
            bottom: 0%;
            background-color: red;
        }
        50%{
            top: 189px;
            left: 453px;
            background-color: green;
        }
        90%{
            bottom: 20px;
            background-color: aqua;
            
        
            
        }
        100%{
        
            background-color: blanchedalmond;
        }
        
        }
        .d
{
    background-color:black;
    display: inline-block;
    height: 123px;
    width: 134px;
    animation-name: spr;
    animation-duration: 7s;
    position: relative;

}
@keyframes spr{
    0%{
 
        background-color: red;
    }
    50%{
       
        background-color: rgb(48, 248, 48);
    }
    90%{
        
        background-color: rgb(235, 57, 57);
        
    
        
    }
    100%{
        background-color: blanchedalmond;
    }
    
    }
    section{
        height: 109px;
        width: 130px;
block-size: 25%;
background-color: rgb(174, 0, 255);
color: black;
    }
    section:hover{
        border-radius: 10%;
        border-style: dashed;
        height: 129px;
        width: 230px;
        font-size: 60%;
        background-color: aqua;
        color: red;
        
    }